
.gameItem {
border-color: darkgray;
border-style: solid;
border-radius: 5px;
width: 50%;
margin-bottom: 5px;
text-align: center;
}

.gameList {
margin:10px;
}

.lobbyBtn {
margin:10px;
}

.button-div{
width: 50px;    
}
.friendsList{
    width:75%;
    margin: 10px;
    
}